body {
	padding-top: 50px;
	text-align: center;
 	background-color: lightblue; 
}

.container {
	width: auto;
	background-color: lightblue;
	text-align: center;
}

.searchBox {
	width: auto;
	text-align: center;
}